{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <div class="home-info-left">
        <img loading="lazy" draggable="false" src="{{ "images/profile-copy.png" | absURL }}" alt="profile image" title="" height="300" width="300">
    </div>
    <div class="home-info-right">
        <div class="entry-content">
            <ul>
                <li>I'm a Data Scientist in Ahmedabad, currently working at a startup <a href="https://dipapp.in/">ByteCitadel</a>, before I went into industry I was a research intern contributing to<a href="https://www.sciencedirect.com/science/article/abs/pii/S1574954122003247"> Identification of free-ranging mugger crocodiles by applying deep learning methods on UAV imagery</a></li>
                <li>In my spare time, I build <a href="{{ "projects/" | absURL }}">data science projects</a>, solves kaggle challenges, and writes reviews about movies on letterboxd.</li>
                <li><em>All projects and blogs content are documented here for learning and reference. Feel free to reach out for collaborations!</em></li>
            </ul>
        </div>
        <footer class="entry-footer">
            <div class="social-icons">
            {{- range site.Params.socialIcons }}
                <a href="{{ .url }}" target="_blank" rel="noopener noreferrer me" title="{{ .name | title }}">
                    {{- partial "svg.html" . }}
                </a>
            {{- end }}
            </div>
        </footer>
    </div>
</article>
{{- end }}